bertopic
gensim
importlib
importlib-resources
ipython
jieba
matplotlib
networkx
nltk
numpy==1.26.4
pandas
Pillow
plotly
pyLDAvis
regex
scikit-learn
seaborn
spacy
sphinx
sphinx-rtd-theme
torch
transformers
wordcloud
wikipedia
scipy==1.12.0
sentencepiece==0.1.99
